# Turn off MultiViews
Options -MultiViews


# Rewrite engine setup
RewriteEngine On
RewriteBase /.


# Choose the default response
# ---------------------------

# Rewrite rule
RewriteRule ^example_1$ repository/scenes/examples/example_1.json [R=302,L]



